@model List<MyELearningProject.DAL.Entities.Address>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<a href="/Address/AddAddress/" class="btn btn-outline-inverse btn-block">Adres Bilgisi Ekle</a>
<br />
<div class="row">
    <div class="col-12">
        <div class="car">
            <div class="card-block">
                <h3>Adres Bilgileri</h3>
                <br />
                <table class="table align-middle">
                    <tr>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Mail</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.AddressInfo</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td><a href="/Address/DeleteAddress/@item.AddressID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Address/UpdateAddress/@item.AddressID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.297447573966!2d34.00857623967785!3d38.36523992093323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d670e51a8b0b7f%3A0xe621759e8824b0bd!2sAksaray%2C%20Aksaray%20Merkez%2FAksaray!5e0!3m2!1str!2str!4v1698727904567!5m2!1str!2str" width="1600" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



