@model MyELearningProject.DAL.Entities.Address
@{
    ViewBag.Title = "UpdateAddress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Adres Güncelleme Sayfası</h3>

<form method="post">
    <br />
    <input type="hidden" name="AddressID" class="form-control" value="@Model.AddressID" />
    <label>Başlık</label>
    <input type="text" name="Title" value="@Model.Title" class="form-control" />
    <br /><br />
    <label>Açıklama</label>
    <input type="text" name="Description" value="@Model.Description" class="form-control" />
    <br /><br />
    <label>Açık Adres</label>
    <input type="text" name="AddressInfo" value="@Model.AddressInfo" class="form-control" />
    <br /><br />
    <label>Telefon</label>
    <input type="number" name="Phone" value="@Model.Phone" class="form-control" />
    <br /><br />
    <label>Mail Adresi</label>
    <input type="email" name="Email" value="@Model.Email" class="form-control" />
    <br /><br />
    <button class="btn btn-outline-primary" >Değişiklikleri Kaydet</button>
</form>