
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@Html.Action("DefaultHeadPartial" , "Default")

<body>
    <!-- Spinner Start -->
    @Html.Action("DefaultSpinnerPartial" , "Default")
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("DefaultNavbarPartial" , "Default")
    <!-- Navbar End -->
    <!-- Carousel Start -->
    @Html.Action("DefaultCarouselPartial", "Default")
    <!-- Carousel End -->
    <!-- Service Start -->
    @Html.Action("DefaultServicePartial" , "Default")
    <!-- Service End -->
    <!-- About Start -->
    @Html.Action("DefaultAboutPartial" , "Default")
    <!-- About End -->
    <!-- Categories Start -->
    @Html.Action("DefaultCategoryPartial" , "Default")
    <!-- Categories Start -->
    <!-- Courses Start -->
    @Html.Action("DefaultCoursePartial" , "Default")
    <!-- Courses End -->
    <!-- Team Start -->
    @Html.Action("DefaultInstructorPartial" , "Default")
    <!-- Team End -->
    <!-- Testimonial Start -->
    @Html.Action("DefaultTestimonialPartial" , "Default")
    <!-- Testimonial End -->
    <!-- Footer Start -->
    @Html.Action("DefaultFooterPartial" , "Default")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @Html.Action("DefaultScriptPartial" , "Default")
</body>

</html>