
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@Html.Action("ContactHeadPartial" , "ContactPage")

<body>
    <!-- Spinner Start -->
    @Html.Action("ContactSpinnerPartial" , "ContactPage")
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("ContactNavbarPartial" , "ContactPage")
    <!-- Navbar End -->
    <!-- Header Start -->
    @Html.Action("ContactHeaderPartial" , "ContactPage")
    <!-- Header End -->
    <!-- Contact Start -->
    @Html.Action("ContactContactPartial" , "ContactPage")
    <!-- Contact End -->
    <!-- Footer Start -->
    @Html.Action("ContactFooterPartial" , "ContactPage")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
     
    @Html.Action("ContactScriptPartial" , "ContactPage")

</body>

</html>
