@model List<MyELearningProject.DAL.Entities.About>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Templates/elearning-html-template/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            @foreach (var item in Model)
            {
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Hakkımızda</h6>
                <h1 class="mb-4">@item.Title</h1>
                <p class="mb-4">@item.Description</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill2</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill3</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill4</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill5</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Skill6</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Daha Fazlası...</a>
            </div>
            }
        </div>
    </div>
</div>
