
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@Html.Action("AboutHeadPartial" , "AboutPage")

<body>

    @Html.Action("AboutSpinnerPartial", "AboutPage")

    @Html.Action("AboutNavbarPartial", "AboutPage")

    @Html.Action("AboutHeaderPartial", "AboutPage")

    @Html.Action("AboutServicePartial", "AboutPage")

    @Html.Action("AboutAboutPartial", "AboutPage")

    @Html.Action("AboutTeamPartial", "AboutPage")

    @Html.Action("AboutTestimonialPartial" , "AboutPage")

    @Html.Action("AboutFooterPartial" , "AboutPage")

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @Html.Action("AboutScriptPartial" , "AboutPage")
    
</body>

</html>
